body {
  margin: 0;
    font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.navbar-brand {
 font-family: serif;
  font-weight: bolder;
  font-size: x-large;
}

.navbar-light .navbar-brand {
  color:red;
}


.nav-item h6{
  margin-left:2rem;
  background: red;
}






